.value {
  display: flex;
  justify-content: center;
}

input {
    display: inline-block;
    width: 6rem;
    height: 4rem;
    font-size: xx-large;
    border-radius: 6px;
}

select {
    display: inline-block;
    /* width: 6rem; */
    height: 4rem;
    font-size: xx-large;
    border-radius: 6px;
}
